@model UCP.Application.Dto.LoanDto

@{
	ViewData["Title"] = "Loan Details";
	Layout = "_DashboardLayout";
}


<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-text-width"></i>
							Loan Details
						</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<dl class="row">
							<dt class="col-sm-4">Id</dt>
							<dd class="col-sm-8">@Model.Id</dd>
							<dt class="col-sm-4">LoanName</dt>
							<dd class="col-sm-8">@Model.LoanName</dd>

							<dt class="col-sm-4">InterestRate</dt>
							<dd class="col-sm-8">@Model.InterestRate</dd>
							<dt class="col-sm-4">ModifieBy</dt>
							<dd class="col-sm-8">@Model.ModifiedDate</dd>
							<dt class="col-sm-4">DateCreated</dt>
							<dd class="col-sm-8">@Model.Datejoined</dd>

						<div class="kt-form__actions">
							<a class="btn btn-success" asp-action="EditLoan" asp-route-id="@Model.Id">Edit Loan</a>
							 &nbsp;
							<a class="btn btn-primary" asp-action="ViewLoan">Return to Loan List</a>
								&nbsp;
								<hr />
								<form asp-action="DeleteLoan" asp-route-id="@Model.Id">
									<button type="submit" class="btn btn-danger">Delete loan</button>
								</form>
								
						</div>
					</div>
				
@*					<form asp-action="DeleteLoan" asp-route-id="@Model.Id">
						<button id="deleteButton"
								class="kt-hidden"
								hidden="hidden"
								type="button"></button>
					</form>*@
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts
	{
	<script src="~/yassets/assets/js/pages/create-new-staff/submit-form.js"></script>
	<script>
		function confirmDelete() {
			swal.fire({
				title: 'Do you know what you\'re doing?',
				text: "This will delete the Product",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.value) {
					submitFormAsync($("#deleteButton"), false);
					$('.kt-form').block({
						animate: true,
						message: '<div class="spinner"> <div class="double-bounce1"></div><div class="double-bounce2"></div></div>',
						css: {
							border: 'none',
							padding: '2px',
							backgroundColor: 'none'
						},
						overlayCSS: {
							backgroundColor: '#1abc9c',
							opacity: 0.05,
							cursor: 'wait'
						}
					});
				}
			});
		}
	</script>
}